/* Definir la paleta de colores */
:root {
  --primary-color: #d0e6f7;
  --secondary-color: #2ecc71;
  --accent-color: #96031A;
  --background-light: #d0e6f7;
  --text-color: #333333;
  --button-hover-color: #c9302c;
  --navbar-color: #585757;
  --navbar-text-color: #ffffff;
  --footer-background-color: #343a40;
  --footer-text-color: #ffffff;
  --button-padding: 12px 24px;
}

/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-light);
}

.box, .custom-rounded {
  background-color: var(--primary-color);
  border-radius: 8px;
}

/* Estilos para secciones */
.hero.is-info,
.button.is-danger {
  background-color: var(--primary-color);
}

.button.is-danger {
  background-color: var(--accent-color);
}
.button.is-danger:hover {
  background-color: var(--button-hover-color);
}

/* Navbar */
.navbar {
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
  padding-right: 20px;
}

.navbar .navbar-item, .navbar .navbar-burger {
  color: var(--navbar-text-color);
}

.navbar .navbar-item:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.navbar-burger {
  color: var(--navbar-text-color);
}

/* Footer */
.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}

.footer a:hover {
  color: var(--primary-color);
}

/* Ajustes de espaciado en las tarjetas */
.hero-body h2, .hero-body p {
  color: var(--text-color);
}

.hero-body h2 {
  margin-bottom: 16px;
}

.hero-body p {
  margin-bottom: 24px;
}

/* Listas */
.column ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.column ul li {
  margin: 0;
}

/* Ajustes generales */
.main-container {
  padding: 0;
  margin: 0;
}

.hero {
  padding-bottom: 0;
}

.hero-img {
  margin-top: 0;
}

/* Tarjetas */
.card {
  max-width: 800px;
  height: 500;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Contenido y footer de las tarjetas */
.card-footer {
  margin-top: auto;
  padding: 10px;
}

.card-content {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  text-align: center;
}

/* Ajuste en las imágenes de las tarjetas */
.card-image img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

/* Centrar las columnas que contienen las tarjetas */
.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
}

/* Ajustar el tamaño de las tarjetas en dispositivos pequeños */
@media (max-width: 768px) {
  .column {
    flex: 1 1 100%;
  }

  .button {
    padding: 10px 15px;
  }

  .navbar-logo {
    max-height: 100px;
  }
}

/* Títulos y enlaces de las tarjetas */
.card-header-title, .card-footer-item {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.title.is-4 {
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.card-content p {
  margin-top: 10px;
}

/* Tarjetas de países */
.paises {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.tarjeta-pais {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  max-width: 200px;
  text-align: center;
  transition: transform 0.2s ease;
}

.tarjeta-pais img {
  width: 100%;
  height: auto;
}

.tarjeta-pais h2 {
  margin: 10px 0;
}

.tarjeta-pais:hover {
  transform: scale(1.05);
}
