/* Definir la paleta de colores */
:root {
  --primary-color: #d0e6f7;
  --secondary-color: #2ecc71;
  --accent-color: #96031A;
  --background-light: #d0e6f7;
  --text-color: #333333;
  --button-hover-color: #c9302c;
  --navbar-color: #585757;
  --navbar-text-color: #ffffff;
  --footer-background-color: #343a40;
  --footer-text-color: #ffffff;
  --button-padding: 12px 24px; /* Variable para padding de botones */
}

/* Estilos personalizados */
body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
}

.box, .custom-rounded {
  background-color: var(--primary-color);
  border-radius: 8px;
}

/* Estilos para secciones específicas */
.hero.is-info {
  background-color: var(--primary-color);
}

.button.is-danger {
  background-color: var(--accent-color);
}
.button.is-danger:hover {
  background-color: var(--button-hover-color);
}

/* Estilos para el navbar */
.navbar {
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
  padding-right: 30px; /* Ajusta el valor según lo que necesites */
}

.navbar .navbar-item,
.navbar .navbar-burger {
  color: var(--navbar-text-color);
}
.navbar .navbar-item:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/* Ajuste de padding y márgenes en los botones dentro del navbar */
.navbar-item .navbar-button {
  padding: var(--button-padding);
  margin: 4px;
}

/* Estilos para el footer */
.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}
.footer a:hover {
  color: var(--primary-color);
}

/* Otros ajustes */
.hero-body h2 {
  color: var(--text-color);
  margin-bottom: 16px;
}
.hero-body p {
  color: var(--text-color);
  margin-bottom: 24px;
}

/* Ajuste de listas */
.column ul {
  list-style-position: inside; 
  padding-left: 0; 
  margin: 0; /* Asegúrate de que no haya margen por defecto */
}
.column ul li {
  margin: 0; /* Asegúrate de que no haya margen por defecto */
}
